* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body {
	margin:8px;
	display:block;
}
.header {
	text-align:left;
	margin-left:282px;
	color:black;
}
.container {
	overflow-y:auto;
	width:80%;
}
.container nav {
	background-color:violet;
	position:sticky;
	position:-webkit-sticky;
	color:white;
	top:0px;
	list-style-type: none;
  	text-align:left;
  	margin:0;
  	padding:0;
}
.container nav div {
	color:white;
	display:inline-block;
	padding:20px;
	width:24%;
}

.trescolumnas {
	position:absolute;
	text-align:justify;
	padding-right:30px;
	float:center;
	column-count:3;
	-webkit-column-count:3;
	margin:15px;	
	margin-top:-500px;
	font-size:0.8em;
	padding:20px;
	padding-bottom:20px;
	padding-top:10px;
	padding-left:200px;
	padding-right:200px;
	margin-bottom:100px
	width:90%;
	height:200%;
	justify-content:center;
}

.trescolumnas1 {
	text-align :inherit;
	column-count:1;
	-webkit-column-count:1;
	font-size:1em;
	margin:-5px;
	padding:5px;
	margin-top:15px; <!-- Cambiado-->
}

#col1 {
	margin-top:37px;
}

#col3 {
	margin-top:30px;
}

#texto1 {
	margin-top:-5px;
	margin-bottom:20px;
}

 .trescolumnas img {
	text-align:center;
	padding-top:-5px;
	margin-left:35px;
}


.fixed-sidebar ul{
	list-style:none;
	color:white;
	padding:30px;
	background-color:violet;
	display:inline-table;
	width:20px;
	height:500px;
}

.fixed.fix1 {
	text-align:inline;
	width: 400px;
 	height: 200px;
	left: 50%;
 	top: 50%;
 	margin: -100px 0 0 -100px;
}

.footer p {
  position:fixed;
  margin:5.5px;
  margin-top:20px;
  float:right;
  margin-bottom:200px;
  height:70px;
  width:80%;
  padding:10px;
  left:0;
  right:0;
  bottom:0;
  padding:30px;
  padding-right:20px;
  background-color:lightgrey;
  text-align:center;
}