#titulos {
	text-align:center;
}
legend {
	border:1px solid black;
	border-style:solid;
	border-color:black;
	border-width:thin;
	boder-radius:25px;
	background-color:white;
}
fieldset {
	background-color:lightgrey;
	border-radius:25px;
}
