#titulos {
	text-align:center;
}
#tit1 {
	background-color:grey;
	font:arial;
	color:white;
}
#tit2{ 
   background-color: #1E679A; 
   font-weight: bold; 
   color: #ffffff; 
   padding: 2 2 2 2px; 
   border-color:yellow;
} 
#textito {
	background-color:green;
	color:black;
}
#ele1 {
	font:arial;
	color:red;
}
#ele2 {
	font:arial;
	color:green;
}