*{
	box-sizing:border-box;
}

body {background-color:lightgrey;}

.container{
	background-color:lightgreen;
	border-radius:10px; 
	margin:100px auto;
	position:relative;
	height:600px;
	top:0px;
	width:80%;
	position:relative;
}
.container nav {
	background-color:#555555;
	position:sticky;
	position:-webkit-sticky;
	color:white;
	top:0px;
}
.container nav div {
	color:white;
	display:inline-block;
	padding:20px;
	width:24%;
}
figure {
	background-color:#ffffff;
	border:2px solid black;
	border-radius:10px;
	text-align:center;
	width:25%;
}
figure img {
	width:90%;
	height:90%;
}
#li1 {
	position:absolute;
	left:20%;
	top:25%;
	transform:rotate(-45grad);
	-webkit-transform:rotate(-45grad);
	z-index:10;
}
#li2 {
	position:absolute;
	left:30%;
	top:30%;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	z-index:3;
}
#li3 {
	position:absolute;
	left:40%;
	top:35%;
	transform:rotate(-15deg);
	-webkit-transform:rotate(-15deg);
	z-index:4;
}
#li4 {
	position:absolute;
	left:50%;
	top:40%;
	transform:rotate(15deg);
	-webkit-transform:rotate(15deg);
	z-index:2;
}
.fixed-sidebar{
	border:2px solid black;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	font-size:0.8em;
	height:40%;
	position:fixed;
	top:30%;
	width:100px;
}
.fixed-sidebar img {
	margin:4%;
	width:90%;
	height:15%;
}
.fixed-sidebar ul{
	list-style:none;
	width:90px;
}
img {
	width:290px;
	height:150px;
}